<p class="follow-us">Follow BluBoo on</p>

<div class="social-buttons">
  <a target="_blank" href="#" class="icon fb"></a>
  <a target="_blank" href="#" class="icon instagram"></a>
  <a target="_blank" href="#" class="icon youtube"></a>
  <a target="_blank" href="#" class="icon google-plus"></a>
  <a target="_blank" href="#" class="icon twitter"></a>
</div>

<div class="aim">
  bluboo việt nam
</div>

<div class="info">
  Số 03 đường số 9, Cư Xá Bình Thới, Phường 8, Quận 11, TP.HCM
  <br>
  Hotline: 0901 80 12 69   |   Email: marketing@bluboo.vn
</div>
