header-component{
  display: flex; //Default
  flex-direction: column; //Default

  .logo{
    margin: 0;
    height: 50px;
    background: url("/img/logo.png") center center transparent scroll no-repeat;

    img{
      display: none;
    }
  }

  .wrapper-nav{
    padding: 35px;
    display: flex;
    flex-direction: row; //Default
    justify-content: space-between;

    .wrapper-nav-item{
      display: flex;
      flex-direction: row; //Default

      .wrapper-nav-item-button{
        height: 60px;
        margin-right: 30px;
        &:last-of-type{
          margin-right: 0;
        }
      }
    }
  }
}