<h1 ng-click="$ctrl.onSelect($event)" class="logo">
  <img src="/img/logo.png" alt="bluboo">
</h1>

<div class="navigation">
  <a class="nav-button">
    <img class="icon" src="/img/icon_product.png" alt="sản phẩmm">
    <span class="icon-name">sản phẩm</span>
  </a>
  <a class="nav-button">
    <img class="icon" src="/img/icon_application.png" alt="ứng dụng miễn phí">
    <span class="icon-name">
      ứng dụng <br> miễn phí
    </span>
  </a>
  <a class="nav-button">
    <img class="icon" src="/img/icon_tips.png" alt="thủ thuật android">
    <span class="icon-name">thủ thuật <br> android</span>
  </a>
  <a class="nav-button">
    <img class="icon" src="/img/icon_sale.png" alt="khuyến mại">
    <span class="icon-name">khuyến mại</span>
  </a>
  <a class="nav-button">
    <img class="icon" src="/img/icon_warranty.png" alt="bảo hành">
    <span class="icon-name">bảo hành</span>
  </a>

  <a class="nav-button user-info">
    <span class="icon-name">nguyễn văn a</span>
    <img class="icon" src="/img/icon_user_login.png" alt="user login">
  </a>

  <a class="nav-button">
    <img class="icon" src="/img/icon_cart.png" alt="cart">
  </a>
</div>