<h1 ng-click="$ctrl.onSelect($event)" class="logo">
  <img src="/img/logo.png" alt="bluboo">
</h1>

<div class="navigation">
  <div class="nav-wrapper">
    <div class="nav-button">
      <img class="icon" src="/img/icon_product.png" alt="sản phẩmm">
      <div class="icon-name">sản phẩm</div>
    </div>
    <div class="nav-button">
      <img class="icon" src="/img/icon_application.png" alt="ứng dụng miễn phí">
      <div class="icon-name">
        ứng dụng <br> miễn phí
      </div>
    </div>
    <div class="nav-button">
      <img class="icon" src="/img/icon_tips.png" alt="thủ thuật android">
      <div class="icon-name">thủ thuật <br> android</div>
    </div>
    <div class="nav-button">
      <img class="icon" src="/img/icon_sale.png" alt="khuyến mại">
      <div class="icon-name">khuyến mại</div>
    </div>
    <div class="nav-button">
      <img class="icon" src="/img/icon_warranty.png" alt="bảo hành">
      <div class="icon-name">bảo hành</div>
    </div>
  </div>

  <div class="nav-wrapper user-info">
    <div class="nav-button">
      <div class="icon-name">nguyễn văn a</div>
      <img class="icon" src="/img/icon_user_login.png" alt="user login">
    </div>

    <div class="nav-button">
      <img class="icon" src="/img/icon_cart.png" alt="cart">
    </div>
  </div>
</div>