<h1 ng-click="$ctrl.onSelect($event)" class="logo">
  <img src="/img/logo.png" alt="bluboo">
</h1>

<div class="wrapper-nav">
  <div class="wrapper-nav-item">
    <div class="wrapper-nav-item-button">
      <i class="glyphicon glyphicon-asterisk"></i>
      <span>abc</span>
    </div>
    <div class="wrapper-nav-item-button">
      ffjfjfj
    </div>
    <div class="wrapper-nav-item-button">
      ffjfjfj
    </div>
    <div class="wrapper-nav-item-button">
      ffjfjfj
    </div>
    <div class="wrapper-nav-item-button">
      ffjfjfj
    </div>
  </div>
  <div class="wrapper-nav-item">
    <div class="wrapper-nav-item-button">
      ffjfjfj
    </div>
    <div class="wrapper-nav-item-button">
      ffjfjfj
    </div>
  </div>
</div>