header-component{
  display: flex; //Default
  flex-direction: column; //Default

  .logo{
    margin: 0;
    height: 50px;
    background: url("/img/logo.png") center center transparent scroll no-repeat;

    img{
      display: none;
    }
  }

  .navigation{
    padding: 35px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .nav-button{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      flex: 0 1 185px; // only scalable
      text-transform: uppercase;
      font-size: 1.4rem;
      text-decoration: none;

      .title {
        flex-basis: 100px;
      }

      &:hover{
        .title {
          color: #2daffb;
        }
      }

      &.user-info{
        margin-left: auto;
        margin-right: 15px;
      }


      &:last-of-type{
        flex-basis: 57px; // only scalable
      }

    }

  }
}