<div class="wrapper-content">
  <div class="product">
    <h2 class="name">{{::$ctrl.product.name}}</h2>
    <div class="detail">
      <div class="carousel">
        <div class="carousel-item">
          <img ng-src="{{::$ctrl.product.url}}" alt="">
        </div>
      </div>

      <div class="order">
        <p class="description">
          {{::$ctrl.product.description}}
        </p>

        <div class="chose-color">
          màu sắc: <span class="color" ng-style="{'background': color.color}" ng-repeat="color in $ctrl.product.colors"></span>
        </div>

        <div class="price">
            <div class="number">
              {{::$ctrl.product.price}} <span class="unit">vnd</span>
            </div>
          <div class="select-product">
            <input type="number" placeholder="số lượng">
            <input type="text" placeholder="địa chỉ">
          </div>
        </div>

        <div class="buy-product">
          <a class="btn-buy" ng-click="$ctrl.buyProduct()">mua ngay</a>
          <a href="#" class="cart">
            <img class="icon" src="/img/icon_cart.png" alt="cart">
            <span class="badge">1</span>
          </a>
        </div>

        <div class="options">
          <a href="#">
            <img class="icon" src="/img/icon_amortize.png" alt="cart">
            <span>trả góp</span>
          </a>

          <a href="#">
            <img class="icon" src="/img/icon_share.png" alt="cart">
            <span>chia sẻ cho bạn bè</span>
          </a>
        </div>

        <div class="rating">
          đánh giá sản phẩm: <span class="start" ng-class="{'full': start <= $ctrl.product.start}" ng-repeat="start in [1,2,3,4]" ng-click="$ctrl.rating(start)"></span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper-content">
  <promotional-component></promotional-component>
</div>
<div class="wrapper-content">
  <support-component></support-component>
</div>
