<div class="promotional-group">
  <div class="icon">
    <img src="/img/icon_barter.png" alt="đổi trả thoải mái trong 60 ngày">
  </div>
  <p class="title">
    đổi trả thoải mái trong 60 ngày
  </p>
</div>
<div class="line"></div>
<div class="promotional-group">
  <div class="icon">
    <img src="/img/icon_free_ship.png" alt="giao hàng miễn phí">
  </div>
  <p class="title">
    giao hàng miễn phí
  </p>
</div>
<div class="line"></div>
<div class="promotional-group">
  <div class="icon">
    <img src="/img/icon_promotional_warranty.png" alt="bảo hành 1 năm 1 đổi 1">
  </div>
  <p class="title">
    bảo hành 1 năm 1 đổi 1
  </p>
</div>