.choose-color {
  padding-left: 20px;
  margin-bottom: 10px;
  color: $color;
  font-weight: bold;
  font-size: 1.5rem;

  .color {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
  }
}