.has-float-label {
  margin: 10px 0 15px;
  @include float-label-container;

  @include float-label;

  select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }

  input, select, textarea {
    @include float-label-input;
    width: 100%;
    font-size: 1rem;
    padding: 0 0 0 10px;
    margin-top: 1.5rem;
    line-height: 1.5;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(0,0,0,.5);


    @include float-label-scaled {
      top: .85em;
    }

    &:focus {
      outline: none;
      border-color: $color;
    }
  }

  select {
    padding-right: 1em;
    background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .5em bottom .25em;
    background-size: 8px 10px;
  }
}
