/* =Footer
-------------------------------------------------------------- */
footer {
  padding-top: $base-padding;


  @media #{$info-xs} {
    padding-top: $base-padding-xs;
  }

  border-top: 1px solid $color;

  a{
    text-transform: uppercase;
  }

  .terms{
    > * {
      border-left: 1px solid $color;

      @media #{$info-xs} {
        border-left: none;
      }
    }
  }
}
