textarea,
input,
input[type],
.uneditable-input{
  width: 100%;
  min-height: 34px;
  padding: 6px 12px;
  font-size: 1rem;
  line-height: 1.42857143;
  color: $color;
  background: transparent;
  border: 1px solid $color;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  margin-bottom: 10px;

  &:focus{
    border-color: $color;
    box-shadow: none;
    outline: 0 none;
  }

  &::placeholder{
    color: gray;
  }
}
