.products-promotion{

  .slick-arrow{
    z-index: 10;
    &.slick-prev{
      left: 25px;
    }

    &.slick-next{
      right:25px;
    }
  }


  .slider-for{
    margin: 0 10px;
  }
  .slider-nav{
    margin: $base-padding 0 0;

    .slick-list{
      .slick-track{
        .slick-slide{
          margin: 0 10px;
        }
      }
    }
  }

  .carousel-caption{
    position: absolute;
    left: 15%;
    top: 15px;
    text-align: left;


    @media #{$info-xs} {
      left: 50%;
      top: 50%;
      text-align: center;
      transform: translate(-50%, -50%);
    }

    .title {
      font-size: 2rem;
      color: $white;
      text-transform: uppercase;

      @media #{$info-xs} {
        font-size: 1.5rem;
      }
    }

    .description {
      font-size: 1rem;
      color: $white;
    }

    .price {
      margin: 10px auto;
      @media #{$info-xs} {
        margin: 5px auto;
      }

      .last-price {
        font-size: 1rem;
        color: $color;
        text-decoration: line-through;
        font-style: italic;
      }

      .new-price {
        font-size: 1.5rem;
        color: $white;
      }
    }
  }
}