.product-buy {
  padding-left: 20px;
  margin-bottom: 10px;

  > * {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 20px;
  }

  .segmented-control {
    .item {
      display: inline-block;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      border: 1px solid gray;
      border-right: none;
      vertical-align: top;
      margin-right: -5px;
      font-size: 0.6rem;
      cursor: pointer;

      &:nth-child(2){
        font-size: 1rem;
        cursor: default;
      }

      &:last-child {
        border-right: 1px solid gray;
      }
    }
  }
}