#products-promotion{
  margin: 0 auto;


  .carousel-control-next,
  .carousel-control-prev{
    width:60px;
  }

  .carousel-caption{
    top: 15px;
    bottom:auto;
    right:auto;
    text-align: left;

    .title {
      font-size: 2rem;
      color: $white;
      text-transform: uppercase;
    }

    .description {
      font-size: 1rem;
      color: $white;
    }

    .price {
      margin: 10px auto;
      .last-price {
        font-size: 1rem;
        color: $color;
        text-decoration: line-through;
        font-style: italic;
      }

      .new-price {
        font-size: 1.5rem;
        color: $white;
      }
    }
  }
}