/* =Scss Variables
-------------------------------------------------------------- */
// fonts
@font-face {
  font-family: avenir-lt-std-45-book;
  src: url(fonts/avenir-lt-std-45-book.otf);
}
$font-primary: Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
$font-heading: Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;

/* Colors */
$white: rgb(255, 255, 255);
//$color: #2caefa;
$color: #898f4b;
$price: #d0021b;

$color-hover: #898f4b;
$background-color: #898f4b;
$background-hover-color: #898f4b;
$border-color: #898f4b;
$border-hover-color: #898f4b;

$dark-grey: rgb(80, 80, 80);
$text-grey: rgb(100, 100, 100);



/* Padding */
$base-padding: 35px;
$base-padding-xs: 10px;
$space-between: 15px;


/* Header height*/
$header-height: 80px;
$header-height-xs: 50px;
$header-shadow: 10px;


/* Screen break*/
$info-screen-pc: "only screen and (min-width :  800px)";
$info-tablet-big: "only screen and (max-width : 1200px)";
$info-tab-only: "only screen and (max-width: 1200px) and (min-width: 800px)";
$info-tablet-2: "only screen and (max-width : 992px)";
$info-tablet: "only screen and (max-width : 800px)";
$info-phone: "only screen and (max-width : 767px)";
$info-phone-4: "only screen and (max-width : 320px)";
$info-xs: "only screen and (max-width: 1023px)";