/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

blockquote {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: none;
}

/* =Scss Variables
-------------------------------------------------------------- */
// fonts
$font-primary: 'Ubuntu', sans-serif;
$font-heading: 'Oswald', sans-serif;

// colours
$white: rgb(255, 255, 255);
$color: #898f4b;

$dark-grey: rgb(80, 80, 80);
$text-grey: rgb(100, 100, 100);

$base-padding: 35px;
$space-between: 15px;

$header-height: 5.50rem;
$header-shadow: 1.25rem;

/* =Global
-------------------------------------------------------------- */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

body {
  background-color: $white;
  color: $dark-grey;
  font-family: $font-primary;
  font-weight: 300;
  font-size: 1rem;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: $color;
}

a:hover {
  color: darken($color, 15%);
  opacity: .7;
}

.img-responsive {
  width: 100%;
  height: auto;
  display: block;
}

.btn {
  border: none;
  box-shadow: none;
  color: $white;
  background: $color;
  text-align: center;
  padding: 10px 25px;
  font-size: 1.15rem;
  text-transform: uppercase;

  &:hover {
    opacity: 0.7;
  }
}

/* =Template
-------------------------------------------------------------- */
#wrapper {
  width: 100%;
  padding: $header-height $base-padding $base-padding * 3;

  /* =Header
  -------------------------------------------------------------- */
  header {
    position: fixed;
    height: $header-height - $header-shadow;
    top: 0;
    right: $base-padding;
    left: $base-padding;
    z-index: 999;
    background: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:after {
      content: "";
      position: absolute;
      display: block;
      top: $header-height - $header-shadow;
      left: 0;
      right: 0;
      height: $header-shadow;
      overflow: hidden;
      background-image: -webkit-linear-gradient(bottom, transparent, #888);
      background-image: linear-gradient(0deg, transparent, #888);
      opacity: .3;
    }

    h1#logo {
      line-height: $header-height;
      font-family: $font-heading;
      color: $color;
      font-size: 2rem;
      font-weight: 400;
    }

    nav {
      a {
        margin: 0 1rem;
        font-size: 1.5rem;

        .title {
          font-size: 1rem;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  #main {

    section {
      padding: 0 0 $base-padding;

      &.sale{
        .banner {
          position: relative;
          width: 100%;
          margin-bottom: $base-padding;

          .info {
            position: absolute;
            top: $base-padding;
            left: $base-padding * 3;

            > * {
              margin-bottom: 15px;
            }

            .title {
              font-size: 2.5rem;
              color: $white;
              text-transform: uppercase;
            }

            .description {
              font-size: 1rem;
              color: $white;
            }

            .price {
              .last-price {
                font-size: 1.2rem;
                color: #999;
                text-decoration: line-through;
                font-style: italic;
              }

              .new-price {
                font-size: 2rem;
                color: $white;
              }
            }
          }
        }

        .banner-control {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .sub-control {
            width: 33%;
          }
        }
      }

      &.promotion {
        display: flex;
        flex-direction: row;
        padding: $base-padding 0;
        align-items: center;
        justify-content: space-around;

        border-top: 4px double $color;
        border-bottom: 4px double $color;

        margin-bottom: $space-between;

        .sub-promotion {
          font-size: 3rem;
          color: $color;
          text-align: center;
          h2 {
            font-size: 1.5rem;
            margin-top: 15px;
          }
        }
      }

      &.form{
        width:40%;
        margin: 0 auto;

        .title{
          font-size: 3rem;
          text-align: left;
          padding-bottom: 5px;
          margin-bottom: $space-between;
          border-bottom: 2px solid $color;
        }

        form{
          input{
            width:100%;
            height: 2rem;
            border: 1px solid $color;
            color: $color;
            padding: 10px 12px;
            font-size: 1rem;
            margin-bottom: $space-between;
          }
        }
      }



      &.product{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;

        > *{
          flex: 1 1 50%;
          margin: 2rem;
        }

        &:nth-child(2n){
         > *{
           order: 2;
           &:last-child{
             order: 1;
           }
         }
        }

        .info {

          > * {
            margin-bottom: 15px;
          }

          .title {
            font-size: 2.5rem;
            text-transform: uppercase;
          }

          .description {
            font-size: 1rem;
          }

          .price {
            .last-price {
              font-size: 1.2rem;
              color: #999;
              text-decoration: line-through;
              font-style: italic;
            }

            .new-price {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }

}

/* =Footer
-------------------------------------------------------------- */
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: $base-padding;
  border-top: 1px solid $color;
  text-transform: uppercase;

  .terms{
    display: flex;
    flex-direction: row;
    > * {
      margin-left: 20px;
      border-left: 1px solid $color;
      padding-left: 20px;
    }
  }
}

/* =Extras
-------------------------------------------------------------- */
.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}