@import "slick";
@import "slick-theme";
@import "variables";
@import "normalize";
@import "buttons";
@import "header";
@import "footer";
@import "products_promotion";
@import "product_info";
@import "product";


/* =Global
-------------------------------------------------------------- */

html {
  font-size: 16px;
}

body {
  background-color: $white;
  color: $dark-grey;
  font-family: $font-primary;
  font-size: 1rem;
}


/* =Template
-------------------------------------------------------------- */
#wrapper {
  width: 100%;
  padding: $header-height $base-padding $base-padding * 3;
  @media #{$info-xs} {
    padding: $header-height 10px $base-padding * 3;
  }

  #main {

    section {
      padding: 0 0 $base-padding;

      &.feature {
        padding: $base-padding 0;
        border-top: 4px double $color;
        border-bottom: 4px double $color;

        margin-bottom: $space-between;

        .sub-promotion {
          font-size: 3rem;
          color: $color;
          text-align: center;
          h2 {
            font-size: 1.5rem;
            margin-top: 15px;
          }
        }
      }

      &.form{
        width:40%;
        margin: 0 auto;

        .title{
          font-size: 3rem;
          text-align: left;
          padding-bottom: 5px;
          margin-bottom: $space-between;
          border-bottom: 2px solid $color;
        }

        form{
          input{
            width:100%;
            height: 2rem;
            border: 1px solid $color;
            color: $color;
            padding: 10px 12px;
            font-size: 1rem;
            margin-bottom: $space-between;
          }
        }
      }
    }
  }

}

/* =Extras
-------------------------------------------------------------- */
.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}