@import "variables";
@import "normalize";
@import "buttons";
@import "input";
@import "panel";
@import "header";
@import "footer";
@import "choose_color";
@import "product_buy";
@import "feature";
@import "products_promotion";
@import "product_info";
@import "fixed_area";
@import "product";


/* =Global
-------------------------------------------------------------- */

html {
  font-size: 16px;
  @media #{$info-xs} {
    font-size: 14px;
  }

  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: $white;
  color: $dark-grey;
  font-family: $font-primary;
  font-size: 1rem;
}

section {
  margin: 0 0 $base-padding;
  @media #{$info-xs} {
    margin: 0 0 $base-padding-xs;
  }
}


.hidden-xs{
  @media #{$info-xs} {
    display: none;
  }
}

.show-xs{
  display: none;
  @media #{$info-xs} {
    display: block;
  }
}

.slick-arrow{
  z-index: 10;
  &:before{
    color: $color;
  }
  &.slick-disabled{
    visibility: hidden;
  }
}

/* =Template
-------------------------------------------------------------- */

#wrapper {
  width: 100%;
  padding: $header-height $base-padding $base-padding;
  @media #{$info-xs} {
    padding: $header-height $base-padding-xs $base-padding-xs;
  }
}

/* =Extras
-------------------------------------------------------------- */
.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}