$base-color:#2daffb;
$light-color:#ffffff;
$base-space: 35px;
$info-screen-pc: "only screen and (min-width :  800px)";
$info-tablet-big: "only screen and (max-width : 1200px)";
$info-tab-only: "only screen and (max-width: 1200px) and (min-width: 800px)";
$info-tablet-2: "only screen and (max-width : 992px)";
$info-tablet: "only screen and (max-width : 800px)";
$info-phone: "only screen and (max-width : 767px)";
$info-phone-4: "only screen and (max-width : 320px)";